{% extends "base.html" %}

{% block content %}
<section class="function-list">
    <div class="function-item"><a href="/solve_linear_system">Résoudre les systèmes linéaires</a></div>
    <div class="function-item"><a href="/eigenvalues_eigenvectors">Trouver les valeurs propres et les vecteurs propres</a></div>
    <div class="function-item"><a href="/lu_decomposition">Décomposition LU</a></div>
    <div class="function-item"><a href="/find_min_max">Trouver le min et le max d’une fonction</a></div>
    <div class="function-item"><a href="/calculate_integral">Calculer primitives et les intégrales</a></div>
    <div class="function-item"><a href="/simplify_expression">Développer et simplifier les expressions</a></div>
    <div class="function-item"><a href="/calculate_derivative">Calculer des dérivées</a></div>
    <div class="function-item"><a href="/taylor_series">Développement limité (calcul de séries)</a></div>
    <div class="function-item"><a href="/calculate_limit">Calcul de limite</a></div>
    <div class="function-item"><a href="/calculator">Calculatrice en ligne</a></div>
    <div class="function-item"><a href="/gram_schmidt">Orthonormalisation par Gram-Schmidt</a></div>
    <div class="function-item"><a href="/gcd_lcm_bezout">PGCD, PPCM et Identité de Bézout</a></div>
    <div class="function-item"><a href="/points_critiques">Calcul des Points Critiques</a></div>
    <div class="function-item"><a href="/equations">Résolution d'Équations</a></div>
    <div class="function-item"><a href="/equations_differentielles">Résolution d'Équations Différentielles</a></div>
    <div class="function-item"><a href="/plot_graph">Tracer des graphiques</a></div>
</section>
{% endblock %}

